<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="/PurpleAdmin/#" class="nav-link">
                <div class="nav-profile-image">
                    <img
                        src="/PurpleAdmin/assets/images/faces/face1.jpg"
                        alt="profile"
                    />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2"><%= username %></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/lock">
                <span class="menu-title">Activity Key Log</span>
                <i class="mdi mdi-history menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pir">
                <span class="menu-title">Captured Motions</span>
                <i class="mdi mdi-drone menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rfid">
                <span class="menu-title">RFID Lists</span>
                <i class="mdi mdi-nfc menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/profile">
                <span class="menu-title">Profile</span>
                <i class="mdi mdi-cached menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
